<h3>Employee List</h3>
<table border="1">
  <tr>
    <th>EmployeeID</th>
    <th>LastName</th>
    <th>FirstName</th>
    <th>Title</th>
    <th>TitleOfCourtesy</th>
    <th>BirthDate</th>
    <th>HireDate</th>
    <th>Address</th>
    <th>City</th>
    <th>Region</th>
    <th>PostalCode</th>
    <th>Country</th>
    <th>HomePhone</th>
    <th>Extension</th>
    <th>Notes</th>
    <th>ReportsTo</th>
    <th>PhotoPath</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{employee.EmployeeID}}</td>
    <td>{{employee.LastName}}</td>
    <td>{{employee.FirstName}}</td>
    <td>{{employee.Title}}</td>
    <td>{{employee.TitleOfCourtesy}}</td>
    <td>{{employee.BirthDate}}</td>
    <td>{{employee.HireDate}}</td>
    <td>{{employee.Address}}</td>
    <td>{{employee.City}}</td>
    <td>{{employee.Region}}</td>
    <td>{{employee.PostalCode}}</td>
    <td>{{employee.Country}}</td>
    <td>{{employee.HomePhone}}</td>
    <td>{{employee.Extension}}</td>
    <td>{{employee.Notes}}</td>
    <td>{{employee.ReportsTo}}</td>
    <td>{{employee.PhotoPath}}</td>
  </tr>
</table>

<h3>Buscar Empleado</h3>
<form>
  <input type="text" placeholder="Employee ID" [(ngModel)]="employeeID_sel" [ngModelOptions]="{standalone: true}">
  <input type="button" value="Search" (click)="searchemployee()">
  <h4>Employee Info</h4>
  <table border="1">
    <tr>
      <th>EmployeeID</th>
      <th>LastName</th>
      <th>FirstName</th>
      <th>Title</th>
      <th>TitleOfCourtesy</th>
      <th>BirthDate</th>
      <th>HireDate</th>
      <th>Address</th>
      <th>City</th>
      <th>Region</th>
      <th>PostalCode</th>
      <th>Country</th>
      <th>HomePhone</th>
      <th>Extension</th>
      <th>Notes</th>
      <th>ReportsTo</th>
      <th>PhotoPath</th>
    </tr>
    <tr>
      <td>{{employee.EmployeeID}}</td>
      <td>{{employee.LastName}}</td>
      <td>{{employee.FirstName}}</td>
      <td>{{employee.Title}}</td>
      <td>{{employee.TitleOfCourtesy}}</td>
      <td>{{employee.BirthDate}}</td>
      <td>{{employee.HireDate}}</td>
      <td>{{employee.Address}}</td>
      <td>{{employee.City}}</td>
      <td>{{employee.Region}}</td>
      <td>{{employee.PostalCode}}</td>
      <td>{{employee.Country}}</td>
      <td>{{employee.HomePhone}}</td>
      <td>{{employee.Extension}}</td>
      <td>{{employee.Notes}}</td>
      <td>{{employee.ReportsTo}}</td>
      <td>{{employee.PhotoPath}}</td>
    </tr>
  </table>
</form>

<h3>Add Employee</h3>
<form [formGroup]="employeeForm" (ngSubmit)="saveemployee()">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" formControlName="Firstname"></td>
    </tr>
    <tr>
      <td>Surname</td>
      <td><input type="text" formControlName="Lastname"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Save"></td>
    </tr>
  </table>
</form>
<p *ngIf="created_succesfully === 1">Empleado creado satisfactoriamente</p>
<p *ngIf="created_succesfully === -1">Ocurrió un error</p>

<h3>Delete Empleado</h3>
<form>
  <input type="text" placeholder="Employee ID" [(ngModel)]="employeeID_del" [ngModelOptions]="{standalone: true}">
  <input type="button" value="Delete" (click)="deleteemployee()">
</form>
<p *ngIf="deleted_succesfully === 1">Empleado eliminado satisfactoriamente</p>
<p *ngIf="deleted_succesfully === -1">Ocurrió un error</p>

<router-outlet></router-outlet>
